{%- assign block_settings = block.settings -%}

{% capture title %}
  {% content_for 'block', id: 'heading', type: '_heading', text: article.title %}
{% endcapture %}

{% capture details %}
  {% content_for 'block',
    id: 'blog-post-details',
    type: '_blog-post-info-text',
    alignment: block_settings.alignment,
    article: article
  %}
{% endcapture %}

{% capture description %}
  {% content_for 'block', id: 'content', type: '_blog-post-description', article: article, show_read_more: true %}
{% endcapture %}

<div
  class="blog-post-card"
  style="--text-align: {{ block_settings.alignment }}"
>
  {%- if article.image -%}
    <div class="blog-post-card__image-container">
      <a href="{{ article.url }}">
        {% content_for 'block', id: 'image', type: '_blog-post-image', image: article.image %}
      </a>
    </div>
  {%- endif -%}

  <div class="blog-post-card__content">
    <a href="{{ article.url }}">{{ title }}</a>

    {{ details }}

    {{ description }}
    {% render 'share-buttons-blog',
      share_link: article.url,
      share_title: article.title,
      copy_label: block_settings.share_copy_label,
      copy_text_color: block_settings.share_copy_text_color,
      copy_bg_color: block_settings.share_copy_bg_color,
      fb_icon_color: block_settings.share_fb_icon_color,
      fb_bg_color: block_settings.share_fb_bg_color,
      wa_icon_color: block_settings.share_wa_icon_color,
      wa_bg_color: block_settings.share_wa_bg_color,
      icon_size: block_settings.share_icon_size
    %}
  </div>
</div>

{% stylesheet %}
  .blog-post-card {
    display: flex;
    flex-direction: column;
    text-align: var(--text-align);
  }

  .blog-post-card__content {
    padding-block-start: 0.4rem;
    display: flex;
    flex-direction: column;
  }

  .blog-post-item .blog-post-card__image-container,
  .blog-post-item .blog-post-card__content {
    width: 100%;
  }

  .blog-post-item:first-child .blog-post-card {
    flex-direction: row;

    @media screen and (max-width: 749px) {
      flex-direction: column;
    }
  }

  .blog-post-item:first-child .blog-post-card__image-container {
    width: 70%;

    @media screen and (max-width: 749px) {
      width: 100%;
    }
  }

  .blog-post-item:first-child:has(.blog-post-card__image-container) .blog-post-card__content {
    padding-inline-start: var(--columns-gap);
    width: 30%;

    @media screen and (max-width: 749px) {
      padding-inline-start: 0;
      width: 100%;
    }
  }

  .blog-post-card__content a {
    display: block;
    text-wrap: pretty;
    text-decoration: none;
    padding-block-start: 0.75rem;
  }

  .blog-post-card__content a:hover,
  .blog-post-card__content a:hover [style*='--color: var(--color-primary)'] {
    color: var(--color-primary-hover);
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground-heading)'] {
    color: rgb(var(--color-foreground-heading-rgb) / var(--opacity-subdued-text));
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground)'] {
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_post",
  "settings": [
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings.alignment",
      "default": "left"
    },
    {
      "type": "header",
      "content": "Share Buttons"
    },
    {
      "type": "range",
      "id": "share_icon_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Icon Size",
      "default": 20
    },
    {
      "type": "header",
      "content": "Copy Link Button"
    },
    {
      "type": "text",
      "id": "share_copy_label",
      "label": "Button Label",
      "default": "Share"
    },
    {
      "type": "color",
      "id": "share_copy_text_color",
      "label": "Text Color",
      "default": "#18181b"
    },
    {
      "type": "color",
      "id": "share_copy_bg_color",
      "label": "Background Color",
      "default": "#f4f4f5"
    },
    {
      "type": "header",
      "content": "Facebook Button"
    },
    {
      "type": "color",
      "id": "share_fb_icon_color",
      "label": "Icon Color",
      "default": "#52525b"
    },
    {
      "type": "color",
      "id": "share_fb_bg_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "WhatsApp Button"
    },
    {
      "type": "color",
      "id": "share_wa_icon_color",
      "label": "Icon Color",
      "default": "#52525b"
    },
    {
      "type": "color",
      "id": "share_wa_bg_color",
      "label": "Background Color",
      "default": "transparent"
    }
  ]
}
{% endschema %}
