{%- assign share_url = product.selected_variant.url
  | default: product.url
  | default: article.url
  | prepend: request.origin
-%}
{%- assign share_title = product.title | default: article.title -%}

<div
  style="
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
    padding-left: {{ block.settings.padding_left }}px;
    padding-right: {{ block.settings.padding_right }}px;
  "
  {{ block.shopify_attributes }}
>
  {% render 'share-buttons-blog',
    share_link: share_url,
    share_title: share_title,
    alignment: block.settings.alignment,
    copy_label: block.settings.share_copy_label,
    copy_text_color: block.settings.share_copy_text_color,
    copy_bg_color: block.settings.share_copy_bg_color,
    fb_icon_color: block.settings.share_fb_icon_color,
    fb_bg_color: block.settings.share_fb_bg_color,
    wa_icon_color: block.settings.share_wa_icon_color,
    wa_bg_color: block.settings.share_wa_bg_color,
    copy_icon_size: block.settings.share_copy_icon_size,
    fb_icon_size: block.settings.share_fb_icon_size,
    wa_icon_size: block.settings.share_wa_icon_size
  %}
</div>

{% schema %}
{
  "name": "Share Buttons",
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Copy Link Button"
    },
    {
      "type": "range",
      "id": "share_copy_icon_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Icon Size",
      "default": 20
    },
    {
      "type": "text",
      "id": "share_copy_label",
      "label": "Button Label",
      "default": "Share"
    },
    {
      "type": "color",
      "id": "share_copy_text_color",
      "label": "Text Color",
      "default": "#18181b"
    },
    {
      "type": "color",
      "id": "share_copy_bg_color",
      "label": "Background Color",
      "default": "#f4f4f5"
    },
    {
      "type": "header",
      "content": "Facebook Button"
    },
    {
      "type": "range",
      "id": "share_fb_icon_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Icon Size",
      "default": 20
    },
    {
      "type": "color",
      "id": "share_fb_icon_color",
      "label": "Icon Color",
      "default": "#52525b"
    },
    {
      "type": "color",
      "id": "share_fb_bg_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "WhatsApp Button"
    },
    {
      "type": "range",
      "id": "share_wa_icon_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Icon Size",
      "default": 20
    },
    {
      "type": "color",
      "id": "share_wa_icon_color",
      "label": "Icon Color",
      "default": "#52525b"
    },
    {
      "type": "color",
      "id": "share_wa_bg_color",
      "label": "Background Color",
      "default": "transparent"
    }
  ],
  "presets": [
    {
      "name": "Share Buttons"
    }
  ]
}
{% endschema %}
